# Import

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import category_encoders as ce

# Load

In [2]:
df_train = pd.read_csv('../input/train.csv')
df_test = pd.read_csv('../input/test.csv')
df = pd.concat([df_train, df_test]).reset_index(drop=True)

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

# EDA

In [3]:
pd.concat([
    pd.concat({
        "unique": df.nunique(),
        "missing": df.isnull().sum(),
        "dtype": df.dtypes
    }, axis=1),
    df.describe().T
], axis=1)

,unique,missing,dtype,count,mean,std,min,25%,50%,75%,max
PassengerId,1309,0,int64,1309.0,655.000000,378.020061,1.00,328.0000,655.0000,982.000,1309.0000
Survived,2,418,float64,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.000,1.0000
Pclass,3,0,int64,1309.0,2.294882,0.837836,1.00,2.0000,3.0000,3.000,3.0000
Name,1307,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,2,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,98,263,float64,1046.0,29.881138,14.413493,0.17,21.0000,28.0000,39.000,80.0000
SibSp,7,0,int64,1309.0,0.498854,1.041658,0.00,0.0000,0.0000,1.000,8.0000
Parch,8,0,int64,1309.0,0.385027,0.865560,0.00,0.0000,0.0000,0.000,9.0000
Ticket,929,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fare,281,1,float64,1308.0,33.295479,51.758668,0.00,7.8958,14.4542,31.275,512.3292
Cabin,186,1014,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Embarked,3,2,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Fare

欠損している人において、Pclass=3 & Embarked=S  
なので、この母集団における Fare の median で missing value を補完

In [4]:
df[df["Fare"].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1043,1044,NaN,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S

In [5]:
df['Fare'].fillna(df.query('Pclass==3 & Embarked=="S"')['Fare'].median(), inplace=True)

## Age

面倒なので mean で補完

In [6]:
df["Age"].fillna(df["Age"].mean(), inplace=True)

# Preprocess

## Ordinal Encoding

In [7]:
df["Sex"] = df["Sex"].map({"male": 0, "female": 1})

In [8]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

## One-Hot Encoding

In [9]:
ohe_columns = [
    "Pclass",
    "Embarked"
]

In [10]:
ohe = ce.OneHotEncoder(cols=ohe_columns, handle_unknown='impute')

In [11]:
df = ohe.fit_transform(df)

df.head()

,PassengerId,Survived,Pclass_1,Pclass_2,Pclass_3,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_1,Embarked_2,Embarked_3,Embarked_4
0,1,0.0,1,0,0,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,1,0,0,0
1,2,1.0,0,1,0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,0,1,0,0
2,3,1.0,1,0,0,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1,0,0,0
3,4,1.0,0,1,0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,1,0,0,0
4,5,0.0,1,0,0,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,1,0,0,0

## Scaling

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
sc_columns = [
    "Age",
    "Fare"
]

In [14]:
sc = StandardScaler()

df[sc_columns] = sc.fit_transform(df[sc_columns])
df.head()

,PassengerId,Survived,Pclass_1,Pclass_2,Pclass_3,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_1,Embarked_2,Embarked_3,Embarked_4
0,1,0.0,1,0,0,"Braund, Mr. Owen Harris",0,-0.611972,1,0,A/5 21171,-0.503176,NaN,1,0,0,0
1,2,1.0,0,1,0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0.630431,1,0,PC 17599,0.734809,C85,0,1,0,0
2,3,1.0,1,0,0,"Heikkinen, Miss. Laina",1,-0.301371,0,0,STON/O2. 3101282,-0.490126,NaN,1,0,0,0
3,4,1.0,0,1,0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0.397481,1,0,113803,0.383263,C123,1,0,0,0
4,5,0.0,1,0,0,"Allen, Mr. William Henry",0,0.397481,0,0,373450,-0.487709,NaN,1,0,0,0

## drop

In [15]:
df.drop([
    "Name",
    "Ticket",
    "Cabin"
], axis=1, inplace=True)

df.head()

,PassengerId,Survived,Pclass_1,Pclass_2,Pclass_3,Sex,Age,SibSp,Parch,Fare,Embarked_1,Embarked_2,Embarked_3,Embarked_4
0,1,0.0,1,0,0,0,-0.611972,1,0,-0.503176,1,0,0,0
1,2,1.0,0,1,0,1,0.630431,1,0,0.734809,0,1,0,0
2,3,1.0,1,0,0,1,-0.301371,0,0,-0.490126,1,0,0,0
3,4,1.0,0,1,0,1,0.397481,1,0,0.383263,1,0,0,0
4,5,0.0,1,0,0,0,0.397481,0,0,-0.487709,1,0,0,0

In [16]:
df_train = df[:len(df_train)]
df_test = df[len(df_train):]

X_train = df_train.drop(["PassengerId", "Survived"], axis=1)
y_train = df_train["Survived"]
X_test = df_test.drop(["PassengerId", "Survived"], axis=1)

In [17]:
X_train

,Pclass_1,Pclass_2,Pclass_3,Sex,Age,SibSp,Parch,Fare,Embarked_1,Embarked_2,Embarked_3,Embarked_4
0,1,0,0,0,-0.611972,1,0,-0.503176,1,0,0,0
1,0,1,0,1,0.630431,1,0,0.734809,0,1,0,0
2,1,0,0,1,-0.301371,0,0,-0.490126,1,0,0,0
3,0,1,0,1,0.397481,1,0,0.383263,1,0,0,0
4,1,0,0,0,0.397481,0,0,-0.487709,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,0,1,0,-0.223721,0,0,-0.392009,1,0,0,0
887,0,1,0,1,-0.844922,0,0,-0.063340,1,0,0,0
888,1,0,0,1,0.000000,1,2,-0.189974,1,0,0,0
889,0,1,0,0,-0.301371,0,0,-0.063340,0,1,0,0
890,1,0,0,0,0.164530,0,0,-0.493509,0,0,1,0

# Training

In [19]:
from model_nn import ModelNN
from keras.callbacks import EarlyStopping
from runner import Runner

In [20]:
runner = Runner("hoge", ModelNN, cv=False)

In [21]:
params = {
    "layers": 4,
    "dropout": 0.2,
    "units": 8
}

train_params = {
    "epochs": 5000,
    "batch_size": 32,
    "verbose": 1,
    "callbacks": [EarlyStopping(monitor="val_loss", min_delta=0, patience=30, verbose=1)]
}

In [22]:
runner.train(X_train, y_train, params, train_params)

Metal device set to: Apple M1 Max
Epoch 1/5000

2022-01-01 10:42:11.926186: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-01-01 10:42:11.926499: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
2022-01-01 10:42:12.025820: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2022-01-01 10:42:12.341380: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

23/23 [==============================] - 1s 23ms/step - loss: 0.8627 - acc: 0.5407 - val_loss: 0.7249 - val_acc: 0.4693
Epoch 2/5000
 5/23 [=====>........................] - ETA: 0s - loss: 0.8103 - acc: 0.5750

2022-01-01 10:42:13.040326: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

23/23 [==============================] - 0s 15ms/step - loss: 0.8213 - acc: 0.5506 - val_loss: 0.7017 - val_acc: 0.5084
Epoch 3/5000
23/23 [==============================] - 0s 15ms/step - loss: 0.7565 - acc: 0.5983 - val_loss: 0.6895 - val_acc: 0.5419
Epoch 4/5000
23/23 [==============================] - 0s 15ms/step - loss: 0.7614 - acc: 0.5646 - val_loss: 0.6797 - val_acc: 0.5810
Epoch 5/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.7431 - acc: 0.5815 - val_loss: 0.6714 - val_acc: 0.5978
Epoch 6/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.6943 - acc: 0.6081 - val_loss: 0.6650 - val_acc: 0.6034
Epoch 7/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.6998 - acc: 0.6025 - val_loss: 0.6594 - val_acc: 0.6034
Epoch 8/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.6864 - acc: 0.6011 - val_loss: 0.6522 - val_acc: 0.6369
Epoch 9/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.6618 - acc: 0.6419 - val_loss: 0.6455 - val_acc: 0.6425
Epoch 10/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.6471 - acc: 0.6362 - val_loss: 0.6385 - val_acc: 0.6425
Epoch 11/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.6500 - acc: 0.6362 - val_loss: 0.6314 - val_acc: 0.6425
Epoch 12/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.6354 - acc: 0.6559 - val_loss: 0.6258 - val_acc: 0.6536
Epoch 13/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.6467 - acc: 0.6376 - val_loss: 0.6191 - val_acc: 0.6648
Epoch 14/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.6456 - acc: 0.6264 - val_loss: 0.6129 - val_acc: 0.6648
Epoch 15/5000
23/23 [==============================] - 0s 15ms/step - loss: 0.6145 - acc: 0.6404 - val_loss: 0.6061 - val_acc: 0.6592
Epoch 16/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.6305 - acc: 0.6447 - val_loss: 0.5996 - val_acc: 0.6592
Epoch 17/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.6152 - acc: 0.6685 - val_loss: 0.5931 - val_acc: 0.6592
Epoch 18/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.6191 - acc: 0.6559 - val_loss: 0.5865 - val_acc: 0.6704
Epoch 19/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.6025 - acc: 0.6938 - val_loss: 0.5799 - val_acc: 0.6760
Epoch 20/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5991 - acc: 0.6559 - val_loss: 0.5746 - val_acc: 0.6816
Epoch 21/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5987 - acc: 0.6699 - val_loss: 0.5681 - val_acc: 0.6983
Epoch 22/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.5981 - acc: 0.6924 - val_loss: 0.5609 - val_acc: 0.6872
Epoch 23/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5905 - acc: 0.6966 - val_loss: 0.5553 - val_acc: 0.6760
Epoch 24/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.5963 - acc: 0.6629 - val_loss: 0.5481 - val_acc: 0.7207
Epoch 25/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5876 - acc: 0.6910 - val_loss: 0.5424 - val_acc: 0.7430
Epoch 26/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5874 - acc: 0.7079 - val_loss: 0.5364 - val_acc: 0.7430
Epoch 27/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5699 - acc: 0.7149 - val_loss: 0.5284 - val_acc: 0.7709
Epoch 28/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.5586 - acc: 0.6952 - val_loss: 0.5211 - val_acc: 0.7933
Epoch 29/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5695 - acc: 0.7008 - val_loss: 0.5151 - val_acc: 0.8045
Epoch 30/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.5750 - acc: 0.7079 - val_loss: 0.5083 - val_acc: 0.7877
Epoch 31/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5631 - acc: 0.7247 - val_loss: 0.5022 - val_acc: 0.7989
Epoch 32/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5603 - acc: 0.7402 - val_loss: 0.4966 - val_acc: 0.8045
Epoch 33/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5245 - acc: 0.7570 - val_loss: 0.4905 - val_acc: 0.8101
Epoch 34/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5421 - acc: 0.7402 - val_loss: 0.4839 - val_acc: 0.8045
Epoch 35/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5419 - acc: 0.7331 - val_loss: 0.4802 - val_acc: 0.8156
Epoch 36/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5410 - acc: 0.7472 - val_loss: 0.4770 - val_acc: 0.8212
Epoch 37/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5329 - acc: 0.7514 - val_loss: 0.4748 - val_acc: 0.8156
Epoch 38/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5191 - acc: 0.7598 - val_loss: 0.4709 - val_acc: 0.8101
Epoch 39/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5509 - acc: 0.7388 - val_loss: 0.4678 - val_acc: 0.8101
Epoch 40/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5260 - acc: 0.7500 - val_loss: 0.4658 - val_acc: 0.8101
Epoch 41/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5303 - acc: 0.7430 - val_loss: 0.4624 - val_acc: 0.8101
Epoch 42/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5345 - acc: 0.7374 - val_loss: 0.4598 - val_acc: 0.8045
Epoch 43/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4954 - acc: 0.7767 - val_loss: 0.4559 - val_acc: 0.8101
Epoch 44/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5269 - acc: 0.7542 - val_loss: 0.4527 - val_acc: 0.8101
Epoch 45/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5119 - acc: 0.7542 - val_loss: 0.4493 - val_acc: 0.8101
Epoch 46/5000
23/23 [==============================] - 0s 15ms/step - loss: 0.5087 - acc: 0.7570 - val_loss: 0.4468 - val_acc: 0.8212
Epoch 47/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4904 - acc: 0.7921 - val_loss: 0.4440 - val_acc: 0.8212
Epoch 48/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5241 - acc: 0.7402 - val_loss: 0.4403 - val_acc: 0.8212
Epoch 49/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5110 - acc: 0.7542 - val_loss: 0.4399 - val_acc: 0.8212
Epoch 50/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5081 - acc: 0.7626 - val_loss: 0.4384 - val_acc: 0.8156
Epoch 51/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4970 - acc: 0.7753 - val_loss: 0.4376 - val_acc: 0.8212
Epoch 52/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4985 - acc: 0.7654 - val_loss: 0.4359 - val_acc: 0.8212
Epoch 53/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5195 - acc: 0.7458 - val_loss: 0.4340 - val_acc: 0.8268
Epoch 54/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5046 - acc: 0.7584 - val_loss: 0.4326 - val_acc: 0.8212
Epoch 55/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5104 - acc: 0.7781 - val_loss: 0.4323 - val_acc: 0.8268
Epoch 56/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5043 - acc: 0.7753 - val_loss: 0.4308 - val_acc: 0.8436
Epoch 57/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5078 - acc: 0.7669 - val_loss: 0.4287 - val_acc: 0.8380
Epoch 58/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5012 - acc: 0.7640 - val_loss: 0.4287 - val_acc: 0.8436
Epoch 59/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4925 - acc: 0.7697 - val_loss: 0.4258 - val_acc: 0.8436
Epoch 60/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4726 - acc: 0.7963 - val_loss: 0.4237 - val_acc: 0.8380
Epoch 61/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4829 - acc: 0.7767 - val_loss: 0.4230 - val_acc: 0.8380
Epoch 62/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4859 - acc: 0.7795 - val_loss: 0.4228 - val_acc: 0.8436
Epoch 63/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4935 - acc: 0.7823 - val_loss: 0.4232 - val_acc: 0.8380
Epoch 64/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5009 - acc: 0.7598 - val_loss: 0.4232 - val_acc: 0.8380
Epoch 65/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.5080 - acc: 0.7640 - val_loss: 0.4233 - val_acc: 0.8436
Epoch 66/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4989 - acc: 0.7781 - val_loss: 0.4223 - val_acc: 0.8436
Epoch 67/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4985 - acc: 0.7753 - val_loss: 0.4226 - val_acc: 0.8324
Epoch 68/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4734 - acc: 0.7865 - val_loss: 0.4204 - val_acc: 0.8324
Epoch 69/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4795 - acc: 0.7823 - val_loss: 0.4180 - val_acc: 0.8212
Epoch 70/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4953 - acc: 0.7851 - val_loss: 0.4160 - val_acc: 0.8324
Epoch 71/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4838 - acc: 0.7837 - val_loss: 0.4153 - val_acc: 0.8324
Epoch 72/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4798 - acc: 0.7879 - val_loss: 0.4138 - val_acc: 0.8324
Epoch 73/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4954 - acc: 0.7753 - val_loss: 0.4133 - val_acc: 0.8324
Epoch 74/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4982 - acc: 0.7879 - val_loss: 0.4144 - val_acc: 0.8324
Epoch 75/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4749 - acc: 0.7963 - val_loss: 0.4133 - val_acc: 0.8268
Epoch 76/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4810 - acc: 0.7935 - val_loss: 0.4124 - val_acc: 0.8268
Epoch 77/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4902 - acc: 0.7893 - val_loss: 0.4122 - val_acc: 0.8268
Epoch 78/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4823 - acc: 0.7781 - val_loss: 0.4117 - val_acc: 0.8212
Epoch 79/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4983 - acc: 0.7809 - val_loss: 0.4106 - val_acc: 0.8156
Epoch 80/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4944 - acc: 0.7697 - val_loss: 0.4110 - val_acc: 0.8268
Epoch 81/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4690 - acc: 0.7725 - val_loss: 0.4089 - val_acc: 0.8268
Epoch 82/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4671 - acc: 0.7865 - val_loss: 0.4066 - val_acc: 0.8324
Epoch 83/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4754 - acc: 0.7809 - val_loss: 0.4068 - val_acc: 0.8268
Epoch 84/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4847 - acc: 0.7781 - val_loss: 0.4057 - val_acc: 0.8268
Epoch 85/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4822 - acc: 0.7725 - val_loss: 0.4055 - val_acc: 0.8324
Epoch 86/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4752 - acc: 0.7837 - val_loss: 0.4038 - val_acc: 0.8268
Epoch 87/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4578 - acc: 0.7907 - val_loss: 0.4027 - val_acc: 0.8324
Epoch 88/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4751 - acc: 0.7851 - val_loss: 0.4009 - val_acc: 0.8380
Epoch 89/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4534 - acc: 0.8230 - val_loss: 0.3993 - val_acc: 0.8324
Epoch 90/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4711 - acc: 0.7823 - val_loss: 0.3980 - val_acc: 0.8380
Epoch 91/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4643 - acc: 0.7879 - val_loss: 0.3968 - val_acc: 0.8380
Epoch 92/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4747 - acc: 0.7893 - val_loss: 0.3966 - val_acc: 0.8436
Epoch 93/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4790 - acc: 0.7809 - val_loss: 0.3956 - val_acc: 0.8436
Epoch 94/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4714 - acc: 0.7781 - val_loss: 0.3947 - val_acc: 0.8436
Epoch 95/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4497 - acc: 0.7978 - val_loss: 0.3934 - val_acc: 0.8380
Epoch 96/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4936 - acc: 0.7767 - val_loss: 0.3921 - val_acc: 0.8324
Epoch 97/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4592 - acc: 0.7893 - val_loss: 0.3930 - val_acc: 0.8436
Epoch 98/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4704 - acc: 0.8020 - val_loss: 0.3927 - val_acc: 0.8436
Epoch 99/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4642 - acc: 0.7935 - val_loss: 0.3904 - val_acc: 0.8380
Epoch 100/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4705 - acc: 0.7963 - val_loss: 0.3910 - val_acc: 0.8603
Epoch 101/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4659 - acc: 0.8104 - val_loss: 0.3884 - val_acc: 0.8659
Epoch 102/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4599 - acc: 0.7949 - val_loss: 0.3883 - val_acc: 0.8492
Epoch 103/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4520 - acc: 0.7992 - val_loss: 0.3868 - val_acc: 0.8547
Epoch 104/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4725 - acc: 0.8104 - val_loss: 0.3852 - val_acc: 0.8492
Epoch 105/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4378 - acc: 0.8188 - val_loss: 0.3850 - val_acc: 0.8547
Epoch 106/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4531 - acc: 0.7992 - val_loss: 0.3835 - val_acc: 0.8492
Epoch 107/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4713 - acc: 0.7935 - val_loss: 0.3823 - val_acc: 0.8603
Epoch 108/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4603 - acc: 0.7949 - val_loss: 0.3818 - val_acc: 0.8547
Epoch 109/5000
23/23 [==============================] - 0s 15ms/step - loss: 0.4697 - acc: 0.7893 - val_loss: 0.3806 - val_acc: 0.8492
Epoch 110/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4569 - acc: 0.8132 - val_loss: 0.3822 - val_acc: 0.8492
Epoch 111/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4541 - acc: 0.8048 - val_loss: 0.3827 - val_acc: 0.8492
Epoch 112/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4499 - acc: 0.8020 - val_loss: 0.3834 - val_acc: 0.8603
Epoch 113/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4518 - acc: 0.8104 - val_loss: 0.3823 - val_acc: 0.8659
Epoch 114/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4605 - acc: 0.7963 - val_loss: 0.3818 - val_acc: 0.8603
Epoch 115/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4630 - acc: 0.7992 - val_loss: 0.3809 - val_acc: 0.8603
Epoch 116/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4633 - acc: 0.8006 - val_loss: 0.3821 - val_acc: 0.8603
Epoch 117/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4642 - acc: 0.7949 - val_loss: 0.3808 - val_acc: 0.8603
Epoch 118/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4652 - acc: 0.8048 - val_loss: 0.3813 - val_acc: 0.8603
Epoch 119/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4427 - acc: 0.8090 - val_loss: 0.3807 - val_acc: 0.8603
Epoch 120/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4700 - acc: 0.7851 - val_loss: 0.3799 - val_acc: 0.8603
Epoch 121/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4471 - acc: 0.8034 - val_loss: 0.3800 - val_acc: 0.8603
Epoch 122/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4640 - acc: 0.8006 - val_loss: 0.3790 - val_acc: 0.8603
Epoch 123/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4597 - acc: 0.8006 - val_loss: 0.3783 - val_acc: 0.8603
Epoch 124/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4723 - acc: 0.7809 - val_loss: 0.3793 - val_acc: 0.8603
Epoch 125/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4591 - acc: 0.8006 - val_loss: 0.3806 - val_acc: 0.8547
Epoch 126/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4606 - acc: 0.8090 - val_loss: 0.3807 - val_acc: 0.8547
Epoch 127/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4497 - acc: 0.8202 - val_loss: 0.3791 - val_acc: 0.8603
Epoch 128/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4627 - acc: 0.8062 - val_loss: 0.3778 - val_acc: 0.8603
Epoch 129/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4461 - acc: 0.7978 - val_loss: 0.3771 - val_acc: 0.8603
Epoch 130/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4586 - acc: 0.8048 - val_loss: 0.3749 - val_acc: 0.8603
Epoch 131/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4422 - acc: 0.8188 - val_loss: 0.3742 - val_acc: 0.8492
Epoch 132/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4564 - acc: 0.8146 - val_loss: 0.3737 - val_acc: 0.8492
Epoch 133/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4709 - acc: 0.8076 - val_loss: 0.3745 - val_acc: 0.8492
Epoch 134/5000
23/23 [==============================] - 0s 15ms/step - loss: 0.4509 - acc: 0.8034 - val_loss: 0.3762 - val_acc: 0.8547
Epoch 135/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4544 - acc: 0.8090 - val_loss: 0.3764 - val_acc: 0.8547
Epoch 136/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4239 - acc: 0.8258 - val_loss: 0.3742 - val_acc: 0.8547
Epoch 137/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4776 - acc: 0.7963 - val_loss: 0.3749 - val_acc: 0.8603
Epoch 138/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4488 - acc: 0.8160 - val_loss: 0.3752 - val_acc: 0.8603
Epoch 139/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4651 - acc: 0.7978 - val_loss: 0.3760 - val_acc: 0.8547
Epoch 140/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4665 - acc: 0.7879 - val_loss: 0.3766 - val_acc: 0.8547
Epoch 141/5000
23/23 [==============================] - 0s 13ms/step - loss: 0.4315 - acc: 0.8216 - val_loss: 0.3751 - val_acc: 0.8547
Epoch 142/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4628 - acc: 0.8104 - val_loss: 0.3764 - val_acc: 0.8603
Epoch 143/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4466 - acc: 0.8174 - val_loss: 0.3773 - val_acc: 0.8547
Epoch 144/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4439 - acc: 0.8202 - val_loss: 0.3763 - val_acc: 0.8492
Epoch 145/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4478 - acc: 0.8188 - val_loss: 0.3730 - val_acc: 0.8492
Epoch 146/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4413 - acc: 0.8132 - val_loss: 0.3720 - val_acc: 0.8492
Epoch 147/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4744 - acc: 0.7907 - val_loss: 0.3723 - val_acc: 0.8492
Epoch 148/5000
23/23 [==============================] - 0s 15ms/step - loss: 0.4411 - acc: 0.7921 - val_loss: 0.3708 - val_acc: 0.8492
Epoch 149/5000
23/23 [==============================] - 0s 15ms/step - loss: 0.4458 - acc: 0.8174 - val_loss: 0.3750 - val_acc: 0.8492
Epoch 150/5000
23/23 [==============================] - 0s 14ms/step - loss: 0.4568 - acc: 0.8020 - val_loss: 0.3749 - val_acc: 0.8492

In [23]:
runner.save_model()

2022-01-01 10:43:16.374203: W tensorflow/python/util/util.cc:368] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them.

INFO:tensorflow:Assets written to: ram://a7b19af5-dffe-41fe-ba26-aa14d7df196a/assets

In [24]:
runner.load_model()

In [25]:
runner.get_score()

0.37050724029541016

# Inference

In [26]:
pred = runner.predict(X_test)

pred = np.where(pred > 0.5, 1, 0)
pred

2022-01-01 10:43:20.395188: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0])

In [27]:
submission = pd.DataFrame({
    "PassengerId": df_test["PassengerId"],
    "Survived": pred
})
submission

      PassengerId  Survived
891           892         0
892           893         0
893           894         0
894           895         0
895           896         0
...           ...       ...
1304         1305         0
1305         1306         1
1306         1307         0
1307         1308         0
1308         1309         0

[418 rows x 2 columns]

In [28]:
submission.to_csv(f"../submission/submission_tensorflow.csv", index=False)